
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    font-family: Bricolage Grotesque;
}

.container{
    margin: 0px;
}

nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity here */
    color: white;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 6rem;
    border-radius: 20px;
}
nav span{
    color: #000000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a{
    
    border-radius: 20px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.site-title span{
    font-weight: bold;
    
}

 .active{
    padding: 10px 20px;
    background-color: #686868;
    margin-left: 10px;
}
.active:hover{
    padding: 10px 20px;
    background-color: #000000;
}

.nav li:hover{
    background-color: #777;
}


.section1{
    width: 100%;
    background-color: #000000;
    padding: 50px 6rem;
    color: white;
}

.section1 h1{
    font-size: 3.0rem;
    transition: 0.3s ease-out;
}

.section1 h1:hover{
    font-size: 3.8rem;
}

.section1 p{
    margin-top: 2rem;
}



.background-image {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    background-image: url('https://images.unsplash.com/photo-1579650382425-256093056bca?q=80&w=2824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image link */
    background-size: cover; /* Adjust to cover the div */
    background-position: center; /* Center the background image */
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 2rem;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity here */
    backdrop-filter: blur(0px); /* Adjust blur here */
  }

  .background-image h1{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    font-family: Bricolage Grotesque;
    line-height: 55px;
    font-size: 70px;
  }

  .div2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }


  .button{
    width: 100%;
    padding: 15px 100px;
    color: white;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
  }

  .button2{
    width: 100%;
    padding: 15px 100px;
    color: orange;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
  }




.section2 h2{
    margin-bottom: 20px;
}


.hamburger,
.hamburger:before,
.hamburger:after {
  content: '';
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 26px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.hamburger:before {
  transform: translateY(-8px);
}

.hamburger:after {
  transform: translateY(5px);
  
}

.menu-toggle{
    display: none;
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content3 {
    background-color: #ffffffba;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 80%;
    height: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
}


.modal-content3 li{
    margin-top: 38px;
    text-align: center;
    list-style: none;
    
}

.modal-content3 a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.section{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

/********* LOGIN CARD **************/

.background-image2 {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 1000px; /* Adjust as needed */
    background-image: url('https://images.unsplash.com/photo-1579650382425-256093056bca?q=80&w=2824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image link */
    background-size: cover; /* Adjust to cover the div */
    background-position: center; /* Center the background image */
  }

  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 2rem;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity here */
    backdrop-filter: blur(6px); /* Adjust blur here */
  }

  .background-image2 h1{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    font-family: Bricolage Grotesque;
    line-height: 55px;
    font-size: 70px;
  }

.login-card{
    height: auto;
    width: 500px;
    margin-top: 50px;
    background-color: #000000;
    border-radius: 10px;
    padding: 1rem 2.0rem;
    color: white;
    background-color: rgba(77, 77, 77, 0.4);
    box-shadow: 5 8px 8px rgba(0, 0, 0, 0.9);
    font-family: Bricolage Grotesque;
    backdrop-filter: blur(6px);
}

.login-card h2{
    color: orange;
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-card h5{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.login-card form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(217, 217, 217);
  }

  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  /* Style for the placeholder text */
  ::placeholder {
    color: #dfdfdf; /* Change this color to your desired color */
  }
 
  
  .login-card .input-field {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #848484;
    font-family: 'Poppins';
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
    font-family: Bricolage Grotesque;
  }
  

  .login-card2 .input-field {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #c0c0c0;
    font-family: Bricolage Grotesque;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
  }




  


  .flow{
    border-radius: 5px;
    font-family: Bricolage Grotesque;
    background-color: orange;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 14px;
  }

  .flow2{
    border-radius: 5px;
    font-family: Bricolage Grotesque;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .login-card p{
    margin-bottom: 50px;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
  }

  .dob{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  select{
    background-color: transparent;
    border: none;
    padding: 12px 8px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    color: white;
    width: 100%;
  }




  /* Style for the select input when focused */
  select:focus, select:valid {
    /* Set the active color when the input is focused or an option is selected */
  }

@media screen and (max-width: 768px) {

    .menu-toggle{
        display: block;
    }

    .active{
        display: none;
    }

    nav{
        padding: 20px 1rem;
    }

    .login-card{
        width: 100%;
        padding: 1rem 1.0rem;
        background-color: rgba(21, 21, 21, 0.7);
        box-shadow: 5 8px 8px rgba(0, 0, 0, 0.9);
        font-family: Bricolage Grotesque;

    } 

    .overlay2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px 1.5rem;
        background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity here */
        backdrop-filter: blur(6px); /* Adjust blur here */
      }
}