
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    font-family: Bricolage Grotesque;
}

.container{
    margin: 0px;
}

nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity here */
    color: white;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 6rem;
    border-radius: 20px;
    font-family: Bricolage Grotesque;
}
nav span{
    color: #000000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a{
    
    border-radius: 20px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.site-title span{
    font-weight: bold;
    
}

 .active{
    padding: 10px 20px;
    background-color: #686868;
    margin-left: 10px;
}
.active:hover{
    padding: 10px 20px;
    background-color: #000000;
}

.nav li:hover{
    background-color: #777;
}


.section1{
    width: 100%;
    background-color: #000000;
    padding: 50px 6rem;
    color: white;
}

.section1 h1{
    font-size: 3.0rem;
    transition: 0.3s ease-out;
}

.section1 h1:hover{
    font-size: 3.8rem;
}

.section1 p{
    margin-top: 2rem;
}



.background-image {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    background-image: url('https://images.unsplash.com/photo-1579650382425-256093056bca?q=80&w=2824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image link */
    background-size: cover; /* Adjust to cover the div */
    background-position: center; /* Center the background image */
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 2rem;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity here */
    backdrop-filter: blur(0px); /* Adjust blur here */
  }

  .background-image h1{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    font-family: Bricolage Grotesque;
    line-height: 55px;
    font-size: 70px;
    text-align: center;
  }

  .div2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }


  .button{
    width: 100%;
    padding: 15px 100px;
    color: white;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
  }

  .button2{
    width: 100%;
    padding: 15px 100px;
    color: white;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
  }




.section2 h2{
    margin-bottom: 20px;
}


.hamburger,
.hamburger:before,
.hamburger:after {
  content: '';
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 26px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.hamburger:before {
  transform: translateY(-8px);
}

.hamburger:after {
  transform: translateY(5px);
  
}

.menu-toggle{
    display: none;
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content3 {
    background-color: #ffffffba;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 80%;
    height: 40%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
    animation-name: slideIn;
    animation-duration: 0.5s;
}


.modal-content3 li{
    margin-top: 38px;
    text-align: center;
    list-style: none;
    
}

.modal-content3 a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

@keyframes slideIn {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content4 {
    background-color: #ffffff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 40%;
    height: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
    animation-name: slideIn;
    animation-duration: 0.5s;
}




.modal-content4 a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.modal-content4 p{
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;
}

.section{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

/********* LOGIN CARD **************/

.background-image2 {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 1000px; /* Adjust as needed */
    background-image: url('https://images.unsplash.com/photo-1579650382425-256093056bca?q=80&w=2824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image link */
    background-size: cover; /* Adjust to cover the div */
    background-position: center; /* Center the background image */
  }

  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 2rem;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity here */
    backdrop-filter: blur(8px); /* Adjust blur here */
  }

  .background-image2 h1{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    font-family: Bricolage Grotesque;
    line-height: 55px;
    font-size: 70px;
  }

.login-card{
    height: auto;
    width: 500px;
    margin-top: 50px;
    background-color: #000000;
    border-radius: 10px;
    padding: 1rem 2.0rem;
    color: white;
    background-color: rgba(77, 77, 77, 0.4);
    box-shadow: 5 8px 8px rgba(0, 0, 0, 0.9);
    font-family: Bricolage Grotesque;
}

.login-card h2{
    color: orange;
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-card h5{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.login-card form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .input-container img{
    left: 92%;
    top: 30%;
    position: absolute;
    align-self: flex-end;
  }

  .input-field{
    color: white;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(217, 217, 217);
  }

  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  /* Style for the placeholder text */
  ::placeholder {
    color: #dfdfdf; /* Change this color to your desired color */
  }
 
  
  .login-card .input-field {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #848484;
    font-family: 'Poppins';
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-family: Bricolage Grotesque;
  }
  

  .login-card2 .input-field {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #c0c0c0;
    font-family: Bricolage Grotesque;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
  }




  


  .flow{
    border-radius: 5px;
    font-family: Bricolage Grotesque;
    background-color: orange;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 14px;
  }

  .flow2{
    border-radius: 5px;
    font-family: Bricolage Grotesque;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .login-card p{
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
  }

  .classed{
    margin-bottom: 50px;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
  }

  .moth{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateY(-30px);

  }

  .dob{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .pee{
    margin-bottom: 8px;
  }

  select{
    background-color: transparent;
    border: none;
    padding: 12px 8px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    color: white;
    width: 100%;
  }

  .modal0 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content0 {
    background-color: #ffffff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 60%;
    height: 65%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
    animation-name: slideIn;
    animation-duration: 0.5s;
    
}


.modal-content0 a{
    width: 80%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: orange;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    
}

.sub-amount{
    font-size: 80px;
    font-weight: bolder;
}

.modal-content0 span{
    background-color: rgb(255, 236, 199);
    padding: 3px 13px;
    font-size: 30px;
    color: orange;
    border-radius: 100px;
    align-self: flex-end;
}

.modal-content1 span{
    background-color: rgb(255, 236, 199);
    padding: 3px 13px;
    font-size: 30px;
    color: orange;
    border-radius: 100px;
    align-self: flex-end;

}

.modal-content7 span{
    background-color: rgb(255, 236, 199);
    padding: 3px 13px;
    font-size: 30px;
    color: orange;
    border-radius: 100px;
    align-self: flex-end;
}


.modal-content4 span{
    background-color: rgb(255, 236, 199);
    padding: 3px 13px;
    font-size: 30px;
    color: orange;
    border-radius: 100px;
    align-self: flex-end;
}

.modal-content0 h6{
    font-size: 18px;
    color: #686868;
}

#dee{
    font-weight: lighter;
    color: #919191;
    font-size: 14px;
    text-align: center;
}

.sub-title{
    color: #848484;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 20px;
}

.selections{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    border: 1px solid #cccccc;
    padding: 15px 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;

}

.selections img{
    width: 24px;
    height: 24px;
}

.selections div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content1 {
    background-color: #ffffff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 60%;
    height: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
    animation-name: slideIn;
    animation-duration: 0.5s;
}


.modal-content1 a{
    width: 60%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ffa600;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}

.modal-content1 h6{
    font-size: 24px;
    color: #686868;
}

.sub-title2{
    color: #848484;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 20px;
}

.pay-options img{
    width: 15px;
    height: 15px;
}

.pay-box{
    width: 60%;
    height: 50px;
    margin-top: 8px;
    padding-left: 14px;
    background-color: #f3f3f3;
    border-radius: 8px;
    font-family: Bricolage Grotesque;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.pay-box p{
    font-size: 11px;
    color: #7d7d7d;
}

.copy-btn{
    height: 100%;
    width: 60px;
    border: 1px solid #c8c8c8;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-btn img{
    width: 20px;
    height: 20px;
}

.bt-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 14px 8px;

}

.flexer{
    margin-top: 8px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.bt-container p{
    color: black;
    font-family: Bricolage Grotesque;
    font-size: 12px;
    font-weight: lighter;
}


.modal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content7 {
    background-color: #ffffff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 60%;
    height: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
    animation-name: slideIn;
    animation-duration: 0.5s;
}


.modal-content7 a{
    width: 60%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ffa600;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}

.pay-options{
    width: 60%;
    display: flex;
    flex-direction: row;
}


.modal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 20%; /* Location of the box */
    backdrop-filter: blur(5px);
 }

  .modal-content8 {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: rgb(0, 0, 0);
    width: 20%;
    height: 40%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Bricolage Grotesque;
    
 }

 


 .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid orange; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    animation: spin 1s linear infinite;
  }


  #signUp {
    pointer-events: none;
    background-color: grey; /* Change background color to grey when disabled */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  #terms-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #terms-box p{
    text-align: start;
    font-size: 10px;
  }


  /* Style for the select input when focused */
  select:focus, select:valid {
    /* Set the active color when the input is focused or an option is selected */
  }

.background-image3{
    padding: 20px 2.0rem;
}

.profile-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.profile-header p{
    font-weight: bold;
}

.profile-pic{
    width: 100%;
    height: 400px;
    background-color: #e0e0e0;
    margin-top: 30px;
    border-radius: 30px;
}

.profile-pic img{
    width: 100%;
    border-radius: 10px;
}

.profile-header img{
    width: 25px;
    height: 25px;
}

.online{
    width: 60px;
    background-color: rgb(195, 255, 195);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online p{
    font-size: 10px;
}

.smaller{
    width:8px;
    height: 8px;
    margin-left: 4px;
    background-color: rgb(0, 219, 0);
    border-radius: 50%;
}

.name-container{
    display: flex;
    margin-top: 80px;
}

.location{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.location img{
    width: 10px;
    height: 10px;
    opacity: 0.5;
    margin-top: 2px;
}

.name-container h4{
    font-size: 22px;
}

.country{
    font-size: 14px;
    color: #848484;
    font-weight: lighter;
    margin-top: 4px;
}

.about{
    margin-top: 20px;
}

.about h6{
    font-size: 16px;
}

.about-text{
    font-size: 14px;
    color: #6a6a6a;
    font-weight: lighter;
    margin-top: 6px;
}

.presence{
    margin-top: 20px;
    font-size: 14px;
}

.options-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.options{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options img{
    width: 30px;
    height: 30px;
}

.opt2{
    background-color: orange;
}

.opt3 img{
    width: 26px;
    height: 26px;
}


/******* SWITCH TOGGLE **************/

/* Hide the default checkbox */
.toggle-input {
    display: none;
  }
  
  /* Style the switch container */
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 26px;
  }
  
  /* Style the switch background */
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  /* Style the switch handle */
  .toggle-label::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  /* Move the handle when the checkbox is checked */
  .toggle-input:checked + .toggle-label {
    background-color: orange;
  }
  
  .toggle-input:checked + .toggle-label::before {
    transform: translateX(26px);
  }
  

  .terms-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  /********** COOKIES MODAL **************/

  .cookies-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    animation: slideIn 0.5s forwards;
  }
  
  .cookies-content {
    padding: 20px;
    text-align: center;
    background-color: rgb(233, 152, 0);
    color: white;
  }

  .cookies-content h2{
    font-size: 14px;
  }

  .cookies-content p{
    font-size: 14px;
    font-weight: lighter;
  }
  
  .buttons {
    margin-top: 20px;
    margin-bottom: 2px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(174, 113, 0);
  }
  
  button:focus {
    outline: none;
  }

  .divers{
    display: flex;
    flex-direction: column;
  }
  

  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  #coming{
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 8px;
    width: 40%;
    text-align: center;
    color: #777;
    
  }

  .locationOption {
    cursor: pointer;
    padding: 5px;
  }
  
  .locationOption:hover {
    background-color: #737373;
  }

  #locationResults{
    background-color: #7c7c7c;
    border-radius: 5px;
    font-size: 14px;
    font-weight: lighter;
    transform: translateY(-30px);
  }

  .modal-content0 ul{
    font-size: 14px;
    font-weight: lighter;
  }
  


@media screen and (max-width: 768px) {


  #coming{
    background-color: rgb(230, 230, 230);
    font-size: 10px;
    border-radius: 10px;
    padding: 2px 4px;
    width: 60%;
    text-align: center;
    color: #777;
    
  }

    .menu-toggle{
        display: block;
    }

    .active{
        display: none;
    }

    nav{
        padding: 20px 1rem;
    }

    .login-card{
        width: 100%;
        padding: 1rem 1.0rem;
        background-color: rgba(21, 21, 21, 0.7);
        box-shadow: 5 8px 8px rgba(0, 0, 0, 0.9);
        font-family: Bricolage Grotesque;
        color: #fff;

    } 

    .overlay2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px 1.5rem;
        background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity here */
        backdrop-filter: blur(10px); /* Adjust blur here */
      }

      .modal0 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
        padding-top: 60px; /* Location of the box */
        backdrop-filter: blur(5px);
    }
    
    .modal-content0 {
        background-color: #ffffff;
        margin: 35% auto; /* 5% from the top and centered */
        padding: 20px;
        border-radius: 14px;
        color: black;
        width: 80%;
        height: auto; /* Could be more or less, depending on screen size */
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        align-content: center;
        font-family: Bricolage Grotesque;
        border: 1px solid #ffffff;
    }
    
    
    .modal-content0 a{
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        background-color: orange;
        padding: 15px 30px;
        font-weight: 600;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
    }
    
    .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
        padding-top: 60px; /* Location of the box */
        backdrop-filter: blur(5px);
    }
    
    .modal-content1 {
        background-color: #ffffff;
        margin: 35% auto; /* 5% from the top and centered */
        padding: 20px;
        border-radius: 14px;
        color: black;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        align-content: center;
        overflow: hidden;
        font-family: Bricolage Grotesque;
        border: 1px solid #ffffff;
    }
    
    
    .modal-content1 a{
        width: 90%;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        background-color: orange;
        padding: 15px 30px;
        font-weight: 600;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .selections{
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .selections p{
        font-size: 14px;
    }

    .selections img{
        width: 20px;
        height: 20px;
    }

    .modal-content1 a{
        margin-top: 10px;
    }

    .modal7 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
        padding-top: 60px; /* Location of the box */
        backdrop-filter: blur(5px);
    }
    
    .modal-content7 {
        background-color: #ffffff;
        margin: 35% auto; /* 5% from the top and centered */
        padding: 20px;
        border-radius: 14px;
        color: black;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        align-content: center;
        font-family: Bricolage Grotesque;
        border: 1px solid #ffffff;
    }
    
    
    .modal-content7 a{
        width: 80%;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        background-color: #ffa600;
        padding: 15px 30px;
        font-weight: 600;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
        font-weight: lighter;
    }

    #dee{
        font-size: 10px;
        color: #686868;
        font-weight: lighter;
        text-align: center;
    }


    .modal-content8 {
    background-color: #fefefe;
    margin: 55% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: rgb(0, 0, 0);
    width: 50%;
    height: 25%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Bricolage Grotesque;
 }

 .modal-content1 h6{
    font-size: 18px;
    color: #686868;
}

 .modal-content8 p{
    font-size: 12px;
    color: #7d7d7d;
 }

 .bt-container{
    width: 90%;
}

.pay-box{
    width: 90%;
    height: 50px;
    padding-left: 8px;
    background-color: #f3f3f3;
    border-radius: 8px;
    font-family: Bricolage Grotesque;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin: 0px;
}

.pay-box p{
    font-size: 9px;
    color: #7d7d7d;
}

.copy-btn img{
    width: 15px;
    height: 15px;
}

.flexer{
    margin-top: 8px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ 50% opacity */
    padding-top: 60px; /* Location of the box */
    backdrop-filter: blur(5px);
}

.modal-content4 {
    background-color: #ffffff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 14px;
    color: black;
    width: 80%;
    height: 70%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7d7d7d;
    align-content: center;
    font-family: Bricolage Grotesque;
    border: 1px solid #ffffff;
}

.login-card .input-field {
    padding-left: 30px;
    width: 100%;
    color: white;
    font-family: Bricolage Grotesque;
    font-size: 16px;
  }


  /******** SWITCH TOGGLE **********/

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
  }
  
  /* Style the switch background */
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  /* Style the switch handle */
  .toggle-label::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }


  .toggle-input:checked + .toggle-label::before {
    transform: translateX(18px);
  }

}